    <script type="text/javascript" src="{{=URL(a='teste_chat', c='static', f='bower_components')}}/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{=URL(a='teste_chat', c='static', f='bower_components')}}/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{=URL(a='teste_chat', c='static', f='bower_components')}}/metisMenu/dist/metisMenu.min.js"></script>
    <script type="text/javascript" src="{{=URL(a='teste_chat', c='static', f='dist')}}/js/sb-admin-2.js"></script>
    <script type="text/javascript" src="{{=URL(a='teste_chat', c='static', f='js')}}/iddletimer.js"></script>
    <script type="text/javascript" src="{{=URL(a='teste_chat', c='static', f='js')}}/chatbox-jquery.js"></script>
    <!-- Carregamento de CSS -->
    <link type="text/css" href="{{=URL(a='teste_chat', c='static', f='bower_components')}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{=URL(a='teste_chat', c='static', f='bower_components')}}/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link type="text/css" href="{{=URL(a='teste_chat', c='static', f='dist')}}/css/sb-admin-2.css" rel="stylesheet">
    <link type="text/css" href="{{=URL(a='teste_chat', c='static', f='css')}}/chatbox-jquery.css" rel="stylesheet">
    <link type="text/css" href="{{=URL(a='teste_chat', c='static', f='bower_components')}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<div class="chat-sidebar">
            <div class="sidebar-name">
                <!-- Pass username and display name to register popup -->
                <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
                    <img width="30" height="30" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/1510656_10203002897620130_521137935_n.jpg?oh=572eaca929315b26c58852d24bb73310&oe=54BEE7DA&__gda__=1418131725_c7fb34dd0f499751e94e77b1dd067f4c" />
                    <span>Narayan Prusty</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qnimate', 'QNimate');">
                    <img width="30" height="30" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/1510656_10203002897620130_521137935_n.jpg?oh=572eaca929315b26c58852d24bb73310&oe=54BEE7DA&__gda__=1418131725_c7fb34dd0f499751e94e77b1dd067f4c" />
                    <span>QNimate</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qscutter', 'QScutter');">
                    <img width="30" height="30" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/1510656_10203002897620130_521137935_n.jpg?oh=572eaca929315b26c58852d24bb73310&oe=54BEE7DA&__gda__=1418131725_c7fb34dd0f499751e94e77b1dd067f4c" />
                    <span>QScutter</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qidea', 'QIdea');">
                    <img width="30" height="30" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/1510656_10203002897620130_521137935_n.jpg?oh=572eaca929315b26c58852d24bb73310&oe=54BEE7DA&__gda__=1418131725_c7fb34dd0f499751e94e77b1dd067f4c" />
                    <span>QIdea</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qazy', 'QAzy');">
                    <img width="30" height="30" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/1510656_10203002897620130_521137935_n.jpg?oh=572eaca929315b26c58852d24bb73310&oe=54BEE7DA&__gda__=1418131725_c7fb34dd0f499751e94e77b1dd067f4c" />
                    <span>QAzy</span>
                </a>
            </div>
            <div class="sidebar-name">
                <a href="javascript:register_popup('qblock', 'QBlock');">
                    <img width="30" height="30" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/1510656_10203002897620130_521137935_n.jpg?oh=572eaca929315b26c58852d24bb73310&oe=54BEE7DA&__gda__=1418131725_c7fb34dd0f499751e94e77b1dd067f4c" />
                    <span>QBlock</span>
                </a>
            </div>
        </div>
        
    </body>
</html>